{% extends 'base.html' %}

{% block content %}
    <div class="panel z-depth-3 rgba-white-light col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10" style="padding: 30px; margin-top: 100px">
        <form action="{% url 'convert_html' %}" method="get">
            {% for field in convert_form %}
                <i class="material-icons prefix">{% cycle 'undo' 'redo' 'attach_money' %}</i>
                <label class="blue-text" for="{{ field.id_for_label }}"><h6>&nbsp;&nbsp;&nbsp;&nbsp;{{ field.label }}</h6></label>
                {{ field }}
            {% endfor %}
            <hr>
            <div class="text-center">{{ converted_amount }}&nbsp;&nbsp;{{ into_currency }}</div>
            <hr>
            <div class="text-center">
                <button id="convert-button" type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Конвертировать</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        window.onload = function() {
            $('#preloader').fadeOut('slow');
            $('select').material_select();
        };
    </script>
{% endblock %}