{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Converter App</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.css' %}" rel="stylesheet">

    <!-- Main css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Preloader -->
    <link href="{% static 'preloader/preloader.css' %}" rel="stylesheet">

</head>

<body>

    <!--Preloader-->
    <div id="preloader" class="white">
        <div class="verticalcenter">
            <div class="text-center">
                <div id="status">
                </div>
            </div>
        </div>
    </div>
    <!--/.Preloader-->

    {% block content %}
    {% endblock %}

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Material Design Bootstrap -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

    <!-- Main js -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#status').load("{% static 'preloader/preloader.html' %}");
        });
    </script>

    {% block additional_js %}
    {% endblock %}
</body>

</html>